@model List<ApplicationUser>

<style>
    .odunc-listesi {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .odunc-bilgisi {
        border: 1px solid #ddd;
        padding: 15px;
        margin: 10px;
        width: 300px;
        text-align: center;
    }

    .kitap-resmi {
        max-height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    h3 {
        color: #333;
        margin-bottom: 10px;
    }

    strong {
        color: #555;
    }

    p {
        margin-bottom: 8px;
    }

    .iade-et-btn {
        background-color: #dc3545;
        color: #fff;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
    }
</style>

<h2>Ödünç Aldığınız Kitaplar</h2>

@if (Model != null && Model.Any())
{
    <div class="odunc-listesi">
        @foreach (var user in Model)
        {
            foreach (var oduncKitap in user.Odunc)
            {
                <div class="odunc-bilgisi">
                    <h3>@oduncKitap?.Kitap?.KitapAdi</h3>
                    <img src="@oduncKitap?.Kitap?.ImagePath" class="kitap-resmi" alt="Kitap Görseli">
                    <p><strong>Ödünç Aldığınız Tarih ve Saat:</strong> @oduncKitap?.OduncAlmaTarihi</p>
                    <form method="post" asp-action="IadeEt" asp-controller="Odunc" asp-route-id="@oduncKitap?.Kitap?.KitapId">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="iade-et-btn">Kitabı İade Et</button>
                    </form>
                </div>
            }
        }
    </div>
}
else
{
    <p>Ödünç aldığınız kitap bulunamamaktadır.</p>
}
