@model ApplicationUser


<form asp-controller="Kayit" asp-action="Kayit" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="exampleFormControlInput1">Ad</label>
        <input asp-for="Ad" type="text" class="form-control" id="exampleFormControlInput1">
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Soyad</label>
        <input asp-for="SoyAd" type="text" class="form-control" id="exampleFormControlInput1">
        <span asp-validation-for="SoyAd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Kullanıcı Adı</label>
        <input asp-for="UserName" type="text" class="form-control" id="exampleFormControlInput1">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">E-Posta</label>
        <input asp-for="EMailAdresi" type="email" class="form-control" id="exampleFormControlInput1">
        <span asp-validation-for="EMailAdresi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Şifre</label>
        <input asp-for="Sifre" type="password" class="form-control" id="exampleFormControlInput1">
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Şifre Tekrar</label>
        <input asp-for="SifreTekrar" type="password" class="form-control" id="exampleFormControlInput1">
        <span asp-validation-for="SifreTekrar" class="text-danger"></span>
    </div>

    <div>
        <div>
            <button type="submit" class="btn btn-primary mt-3" asp-controller="Kayit" asp-action="Kayit">Kayit Oluştur</button>
        </div>
    </div>
</form>



