@model List<ApplicationUser>

<style>
    .iade-listesi {
        display: flex;
        flex-wrap: wrap;
    }

    .iade-bilgisi {
        border: 1px solid #ddd;
        padding: 15px;
        margin: 10px;
        width: 300px;
    }

    h3 {
        color: #333;
    }

    strong {
        color: #555;
    }
</style>

<h1>Kullanıcıların İade Ettiği Kitaplar</h1>

@if (Model != null && Model.Any())
{
    <div class="iade-listesi">
        @foreach (var user in Model)
        {
            foreach (var iadeKitap in user.Iade)
            {
                <div class="iade-bilgisi">
                    <p><strong>İade Eden Kullanıcı:</strong> @iadeKitap?.Kullanici?.UserName</p>
                    <h3>@iadeKitap?.Kitap?.KitapAdi</h3>
                    <p><strong>İade Ettiği Tarih:</strong> @iadeKitap?.IadeTarihi</p>
                </div>
            }
        }
    </div>
}
else
{
    <p>Kullanıcı ödünç kitap almamıştır.</p>
}
