@model List<ApplicationUser>

<style>
    .iade-listesi {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .iade-bilgisi {
        border: 1px solid #ddd;
        padding: 15px;
        margin: 10px;
        width: 300px;
        text-align: center;
    }

    .kitap-resmi {
        max-height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    h3 {
        color: #333;
        margin-bottom: 10px;
    }

    strong {
        color: #555;
    }

    p {
        margin-bottom: 8px;
    }
</style>

<h2>Kullanıcıların İade Ettikleri Kitaplar</h2>

@if (Model != null && Model.Any())
{
    <div class="iade-listesi">
        @foreach (var user in Model)
        {
            foreach (var iadeKitap in user.Iade)
            {
                <div class="iade-bilgisi">
                    <img src="@iadeKitap?.Kitap?.ImagePath" class="kitap-resmi" alt="Kitap Görseli">
                    <h3>@iadeKitap?.Kitap?.KitapAdi</h3>
                    <p><strong>İade Eden Kullanıcı:</strong> @iadeKitap?.Kullanici?.UserName</p>
                    <p><strong>İade Ettiği Tarih ve Saat:</strong> @iadeKitap?.IadeTarihi</p>
                </div>
            }
        }
    </div>
}
else
{
    <p>Kullanıcı kitap iade etmemiştir.</p>
}
